a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    /* Footer height */
    padding-bottom: 2.5rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    user-select: none;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgb(3, 2, 1);
    color: #030201FF;
    width: 100%;
    /*padding: 20px;*/
}
